.Help {
    border-radius: 24px;
    background-image: url('/image/Mesh-Grad.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 50px;


    &__img {
        width: 100%;
        max-width: 554px;
        height: 550px;
        padding-top: 30px;

        img {
            object-fit: contain;
        }
    }

    &__content {
        width: 100%;
        max-width: 492px;

        h3 {
            width: 100%;
            color: var(--FFFFFF, #FFF);
            font-family: "TT Firs Neue";
            font-size: 32px;
            font-style: normal;
            font-weight: 500;
            line-height: 120%;
        }

        p {
            color: rgba(255, 255, 255, 0.80);
            font-family: "Helvetica Neue";
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 130%;
            margin-top: 8px;
            margin-bottom: 24px;
        }

    }




}