.DashboardHeader {
    width: 100%;
    padding: 16px;
    padding-top: 0;

    display: flex;
    align-items: center;
    justify-content: space-between;

    &__navBar {
        width: 100%;
        max-width: 280px;
        border-radius: 12px;
        background: #F2F2F2;
        display: flex;
        align-items: center;
        backdrop-filter: blur(40.21593475341797px);
        padding: 4px;
        cursor: pointer;

        &__item {
            width: calc(100% / 3);
            z-index: 9;
        }

        &__list {
            display: inline-block;
            width: 100%;
            padding: 7px;
            color: var(--081226, #081226);
            text-align: center;
            font-family: "Helvetica Neue";
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 130%;
            z-index: 9;
        }

        &__animatin {
            transition: all .3s ease-in-out;
            position: absolute;
            top: 4px;
            z-index: 8;
            width: calc(100% / 3);
            height: 32px;
            border-radius: 8px;
            background: var(--FFFFFF, #FFF);
            box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.14);
        }

        &__listActive {
            border-radius: 8px;
            background: var(--FFFFFF, #FFF);
            box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.14);
        }
    }

    &__pogination {
        display: flex;
        gap: 4px;

        &__btn {
            padding: 12px;
            border-radius: 12px;
            background: var(--FFFFFF, #FFF);
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 6px;
            cursor: pointer;

            &:hover {
                background-color: rgb(8, 18, 38, .05);
            }

            svg {
                width: 16px;
                height: 16px;
            }

            &:nth-child(1) {
                transform: rotate(-90deg);
            }

            &:nth-child(2) {
                color: var(--081226, #081226);
                text-align: center;
                font-family: "Helvetica Neue";
                font-size: 14px;
                font-style: normal;
                font-weight: 500;
                line-height: 130%;

                div {
                    transform: rotate(180deg);
                }

                /* 18.2px */
            }

            &:nth-child(3) {
                transform: rotate(90deg);
            }
        }
    }
}