.NotesPage {
    width: 100%;
    height: calc(100vh - 32px);
    overflow: scroll;
    margin: 16px 0;
    width: 100%;
    padding: 32px;
    border-radius: 20px;
    background: var(--FFFFFF, #FFF);


    &::-webkit-scrollbar {
        display: none;
    }

    &__title {
        color: var(--081226, #081226);
        font-family: "Helvetica Neue";
        font-size: 32px;
        font-style: normal;
        font-weight: 600;
        line-height: 120%;
        margin-bottom: 10px;
    }

    &__text {
        color: rgb(8, 18, 38, .5);
        font-family: "Helvetica Neue";
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
        margin-bottom: 50px;
        /* 125% */
    }

    &__list {
        margin-bottom: 24px;
        border-bottom: 1px solid rgba(8, 18, 38, 0.10);
        padding-bottom: 24px;

        &__top {
            display: flex;
            align-items: center;
            gap: 8px;

            margin-bottom: 16px;

            h3 {
                color: var(--081226, #081226);
                font-family: "Helvetica Neue";
                font-size: 20px;
                font-style: normal;
                font-weight: 500;
                line-height: 130%;
            }

            span {
                color: rgba(8, 18, 38, 0.50);
                font-family: "Helvetica Neue";
                font-size: 18px;
                font-style: normal;
                font-weight: 400;
                line-height: 130%;
                /* 23.4px */
            }

            div {
                width: 8px;
                height: 8px;
                border-radius: 100%;
                background-color: #F62E2E;
                margin-bottom: 3px;
            }
        }

        &__text {
            color: #081226;
            font-family: "Helvetica Neue";
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 20px;

            span {
                color: #2454FF;
                cursor: pointer;
            }
        }
    }

    &__Bell {

        width: 100%;
        height: 80%;
        display: flex;
        align-items: center;
        justify-content: center;

        h3 {
            color: var(--081226, #081226);
            text-align: center;
            font-family: "Helvetica Neue";
            font-size: 20px;
            font-style: normal;
            font-weight: 500;
            line-height: 130%;
            margin-top: 16px;
            /* 26px */
        }
    }
}