.Calentar {
    width: 100%;
    border-radius: 8px;
    border: 1px solid rgba(8, 18, 38, 0.10);
    background: #FFF;
    box-shadow: 0px 1px 8px 0px rgba(0, 0, 0, 0.08);
    display: flex;
    gap: 40px;

    &__left {
        width: 100%;
        max-width: 368px;
        display: flex;
        justify-content: space-between;
        padding: 32px;
        flex-direction: column;
        gap: 32px;

        &__item {
            display: flex;
            align-items: flex-start;
            gap: 16px;
            margin-bottom: 32px;

            h4 {
                color: var(--081226, #081226);
                font-family: "Inter";
                font-size: 18px;
                font-style: normal;
                font-weight: 500;
                line-height: 120%;
            }
        }

        &__set {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;

            p {
                color: #081226;
                text-align: center;
                font-family: "Inter";
                font-size: 12.906px;
                font-style: normal;
                font-weight: 400;
                line-height: 19px;

                &:first-child {
                    cursor: pointer;
                    color: #2454FF;
                }
            }
        }
    }

    &__right {
        width: 100%;
        padding: 28px 0;
        padding-right: 50px;

        &__title {
            color: #081226;
            font-family: "Inter";
            font-size: 18.75px;
            font-style: normal;
            font-weight: 700;
            line-height: 30px;
            margin-bottom: 26px;
        }

        &__wrap {
            width: 100%;
            display: flex;
            align-items: flex-start;
            gap: 18px;
        }

        &__calentar {
            width: 100%;
        }

        &__day {
            width: 100%;
            max-width: 245px;

            &__title {
                color: #081226;
                font-family: "Inter";
                font-size: 14.875px;
                font-style: normal;
                font-weight: 400;
                margin-bottom: 28px;
            }

            &__btn {
                display: inline-block !important;
                width: calc(100% - 20px);
                padding: 21px 79.55px 21px 79.53px;
                margin: 10px;
                margin-top: 0px;
                color: var(--2454FF, #2454FF);
                text-align: center;
                font-family: Inter;
                font-size: 14.625px;
                font-style: normal;
                font-weight: 700;
                line-height: 10px;
                border-radius: 4px;
                border: 1px solid rgba(36, 84, 255, 0.50);
            }
        }
    }
}