.GlobalBtn {
    border-radius: 8px;
    background: #2454FF ;
    color: #fff;
    padding: 8px 16px;
    font-family: Helvetica Neue;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}