.ImproceCareer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;

    &__image {
        width: 100%;
        max-width: 556px;
        height: 672px;
        aspect-ratio: 9/10.88;
    }

    &__content {
        width: 100%;
        max-width: 486px;

    }

    &__title {
        width: 100%;
        max-width: 464px;
        color: var(--081226, #081226);
        font-family: TT Firs Neue;
        font-size: 32px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: -0.32px;
        margin-bottom: 40px;
    }

    &__list {
        width: 100%;
        display: flex;
        align-items: center;
        gap: 12px;
        margin-bottom: 24px;
        width: 100%;
        max-width: 450px;

        &__text {
            color: rgba(8, 18, 38, 0.60);
            font-family: Helvetica Neue;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 20px;
        }

    }
}