.MoreBtn {
    display: flex;
    align-items: center;
    gap: 6px;
    padding: 8px 24px;
    border-radius: 32px;
    background: linear-gradient(0deg, #EAEAED 0%, #EAEAED 100%), #FFF;
    color: #081226;
    font-family: "Helvetica Neue";
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: -0.18px;
}