.ForWhomCard {
    width: 100%;
    max-width: 556px;
    border-radius: 24px;
    border: 3px solid #FFF;
    // padding: 32px;
    padding-bottom: none;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;




    h3 {
        color: #081226;
        font-family: "TT Firs Neue";
        font-size: 32px;
        font-style: normal;
        font-weight: 500;
        line-height: 120%;
        margin-bottom: 16px;
        padding: 32px;
        padding-bottom: 0;
        /* 38.4px */
    }

    p {
        color: #5A6794;
        font-family: "Helvetica Neue";
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        padding: 0 32px;

        /* 125% */
    }

    div {
        margin-top: 53px;

        img {
            width: 100%;

            object-fit: cover;
        }
    }
}