.CurriculumPage {
    margin-top: 72px;

    &__hero {
        padding-top: 96px;
        padding-bottom: 64px;
        border-radius: 32px;
        background: linear-gradient(0deg, #DEECFF 0%, #DEECFF 100%), linear-gradient(217deg, rgba(255, 255, 255, 0.30) 3.16%, rgba(255, 255, 255, 0.40) 97.9%), hsl(215, 100%, 94%);
        text-align: center;
        margin-bottom: 146px;

        h3 {
            color: var(--081226, #081226);
            text-align: center;
            font-family: "TT Firs Neue";
            font-size: 72px;
            font-style: normal;
            font-weight: 500;
            line-height: 80px;
            letter-spacing: -1.08px;
            margin-bottom: 142px;
        }

        &__btn {
            display: inline-block;
            border-radius: 32px;
            width: 100%;
            max-width: 244px;
            padding: 13px 0;
        }
    }
}