.LassonPage {
    width: 100%;
    height: calc(100vh - 88px);
    overflow: scroll;

    width: 100%;

    &__vidoe {
        width: 100%;
        aspect-ratio: calc(16/9);
        overflow: hidden;

    }

    &::-webkit-scrollbar {
        display: none;
    }

    &__content {
        width: 100%;
        border-radius: 16px;
        background: #FFF;
        padding: 24px;
        margin-top: 8px;
    }
}