.SprintCard {
    width: 100%;
    border-radius: 20px;
    background: #FFF;
    padding: 16px;
    margin-top: 16px;
    
    &:last-child {
        margin-bottom: 16px;

    }

    &__top {
        display: flex;
        align-items: center;
        justify-content: space-between;

        &__title {
            color: #081226;
            font-family: "Helvetica Neue";
            font-size: 24px;
            font-style: normal;
            font-weight: 500;
            line-height: 32px;
            margin-bottom: 16px;
            cursor: pointer;

        }

        &__btn {
            display: flex;
            align-items: center;
            gap: 16px;
        }

        &__btnActie {
            color: var(--2454FF, #2454FF);
            font-family: "Helvetica Neue";
            font-size: 12px;
            font-style: normal;
            font-weight: 500;
            line-height: 130%;
            border-radius: 6px;
            background: #E5EAFF;
            padding: 6px 10px;
            gap: 8px;
        }

        &__down {
            width: 40px;
            height: 40px;
            border-radius: 100%;
            display: flex;
            align-items: center;
            justify-content: center;


            &:hover {
                background: rgb(8, 18, 38, .05);

            }
        }

        &__reverse {
            transform: rotate(180deg);
        }
    }

    &__exercises {
        padding: 16px 0;
        border-bottom: 1px solid rgba(8, 18, 38, 0.10);

        &__flex {
            display: flex;
            align-items: center;
            gap: 8px;
            margin-bottom: 12px;
        }

        &__flex1 {
            display: flex;
            align-items: center;
            gap: 4px;
        }

        &__title {
            color: #081226;
            font-family: "Helvetica Neue";
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 130%;
        }

        &__btn {
            color: rgba(8, 18, 38, 0.60);
            font-family: "Helvetica Neue";
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 130%;
            display: flex;
            padding: 6px 10px;
            align-items: center;
            gap: 6px;
            border-radius: 8px;
            background: #F8F8F9;
        }
    }
}